/* Reset */
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 2;
    box-sizing: border-box;
}

/* Variables */

:root {

    --bckgnd-color: white;
    --contrast-color: teal;
    --contrast-text-color: white;
  }


/* Body */
  body {
    background-color: var(--bckgnd-color);
}


/* Header */
header{
    display: block;
    height: 100px;
    border-bottom: solid var(--contrast-color) 5px;
}

nav{
    text-align: right;
}


/* Initial Display Settings */
.page-0{
    display: block;
    text-align: center;
}
.page-1, .page-2, .page-3, #timer{
    display: none;
    text-align: center;
}










/* Score List Page */
#scores-page{

    justify-content: center;
}

ul{
    list-style-type: none;
    text-align: left;
    display: inline-block;

}


/* Button Settings */
button{
    background-color: var(--contrast-color);
    border: none;
    color: var(--contrast-text-color);
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
    border-radius: 10px;
}

.option-btn, #start-button{

    width: 250px;
    height: 120px;
}

.form-btn {
    width: 180px;
    height: 80px;
    font-size: 14px;
}

#score-list-btn{
    width: 200px;
    height: 50px;
    font-size: 14px;
}


/* Input Settings */
input {
margin: 10px;
width: 200px;

}






#results-div, #timer-div{
    height: 40px;
}

#results-div h3{
    padding: 5px;
    text-align: center;
    font-weight: bold;
}



main{
    display: block;
    margin: 75px;
}



#initial-text{
    border: solid var(--contrast-color) 5px;
    border-radius: 10px;
    width: 50%;
    margin-left: 25%;
    padding: 20px;
}

#score-list-container{
    border: solid var(--contrast-color) 5px;
    border-radius: 10px;
    width: 50%;
    margin-left: 25%;
    padding: 20px;
}


footer{
    display: block;
    height: 20px;
    text-align: center;
    border-top: solid var(--contrast-color) 5px;

}

footer h4{
 
    color: var(--contrast-color);
}

footer a{
    font-weight: bold;
    text-decoration: none;
    color: var(--contrast-color);
}

#footer-container{

    margin: 10px;

}


/* Responsive Layout */

/* Tablets */

@media screen and (max-width: 992px) {
    /* header{
        background-color: #bb8588;
    } */
    main{

        margin: 10px;
    }

    #initial-text, #score-list-container{
        border: solid teal 5px;
        padding: 10px;
        font-size: medium;
        display: block;
        text-align: center;
        width: auto;
        margin: auto;
    }

    nav{
        text-align: center;
       
    }

    .option-btn, #start-button, .form-btn, #score-list-btn {

        width: 150px;
        height: 80px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
        font-size: small;
        display: block;
    }


}
  
  /* Large smartphones */

@media screen and (max-width: 768px) {
    /* header {
        background-color: #89bb85;
    } */
    
    #initial-text, #score-list-container{
        border: solid teal 5px;
        padding: 10px;
        font-size: medium;
        display: block;
        text-align: center;
        width: auto;
        margin: auto;
    }

    nav{
        text-align: center;
       
    }

    .option-btn, #start-button, .form-btn, #score-list-btn {

        width: 150px;
        height: 80px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
        font-size: small;
        display: block;
    }

    main{

        margin: 10px;
    }
}
  
  /* Small smartphones */

@media screen and (max-width: 576px) {
    /* header {
        background-color: #8ac4ff;
    } */

    #initial-text, #score-list-container{
        border: solid teal 5px;
        padding: 10px;
        font-size: small;
        display: block;
        text-align: center;
        width: auto;
        margin: auto;
    }
    * {

        font-size: small;

    }
    .option-btn, #start-button, .form-btn, #score-list-btn {

        width: 150px;
        height: 80px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
        font-size: small;
        display: block;
    }
    
    main{

        margin: 10px;
    }
    
    nav{
        text-align: center;
       
    }

}
